.marginLeftAdjustment{
  display: flex;
  margin-left: 240px;
 
  }

.navbar{
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}
.messagebar{
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; /* Position the navbar at the bottom of the page */
  width: 100%;
}

.mainchat {
  margin-top: 5%;
  margin-bottom: 11%; 
  margin-left:1%;
  margin-right:2%;
  height: 60%;
  overflow: hidden;
  bottom: 140; /* Position the navbar at the bottom of the page */
  width:98%;
}

.text{
  font-size: 1.3rem;
}

.received{
  color:rgb(8, 31, 105);
  display: flex;
  flex-direction: row-reverse;
}

.sent {
  display: flex;
  align-items: right;
}

.icon img{
  width: 25px;
  height: 30px;
  border-radius:15px;
}